<nz-spin [nzSpinning]="submitting">
    <div class="login-form">
        <form nz-form #f="ngForm" se-container="1" labelWidth="0" (ngSubmit)="save()">
            <nz-divider class="my-md" nzText="忘记密码"></nz-divider>
            <se error="请输入邮箱">
                <nz-input-group nzPrefixIcon="user">
                    <input type="text" nz-input [(ngModel)]="entity.email" name="userNameOrEmailAddress"
                        placeholder="输入需要重置密码的邮箱" required />
                </nz-input-group>

            </se>

            <se class="my-md" labelWidth="0">

                <button nz-button nzBlock="true" nzSize="large" class="ant-btn__block" nzType="primary"
                    [disabled]="f.invalid">重置密码</button>
            </se>
        </form>
    </div>
</nz-spin>