<nz-spin [nzSpinning]="submitting">
    <div class="login-form">
        <form nz-form #f="ngForm" se-container="1" labelWidth="100" (ngSubmit)="save()">
            <nz-divider class="my-md" nzText="设置新密码"></nz-divider>
            <se label="用户登录名">
                <nz-input-group>
                    <!-- <input nz-input [(ngModel)]="userName" na [disabled]="true" /> -->
                    <span>{{userName}}</span>
                </nz-input-group>

            </se>
            <se error="请填写，最多32位" label="新密码">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input [(ngModel)]="entity.newPassword" name="password" required
                        placeholder="输入新密码" maxlength="64" />
                </nz-input-group>

            </se>

            <se class="my-md" labelWidth="0">

                <button nz-button nzBlock="true" nzSize="large" class="ant-btn__block" nzType="primary"
                    [disabled]="f.invalid">确定</button>
            </se>
        </form>
    </div>
</nz-spin>