<style>
    .s-input {
        width: 120px;
    }
</style>
<page-header title="专管操作记录" [action]="extraTpl">
    <ng-template #extraTpl>
        <!-- <button class="ml-md" nz-button (click)="create()" nzType="primary" nzDanger="true">
            <i nz-icon nzType="plus" class=""></i> 标签绑定
        </button> -->
    </ng-template>
</page-header>

<form nz-form nzLayout="inline" (ngSubmit)="search()" se-container>

    <se label="CasNo">
        <input nz-input [(ngModel)]="casNo" name="casNo" placeholder="">
    </se>
    <se label="试剂编号">
        <input class="s-input" nz-input [(ngModel)]="reagentNo" name="reagentNo">
    </se>
    <se label="试剂名称">
        <input class="s-input" nz-input [(ngModel)]="filter" name="filter">
    </se>

    <ng-container *ngIf="showMore">
        <se label="操作类型">
            <nz-select style="width: 120px;" [(ngModel)]="operateType" name="stockStatus" nzPlaceHolder="请选择"
                nzAllowClear>

                <nz-option nzLabel="入库" [nzValue]="1">
                </nz-option>
                <nz-option nzLabel="领用" [nzValue]="2">
                </nz-option>
                <nz-option nzLabel="归还" [nzValue]="3">
                </nz-option>
                <nz-option nzLabel="回收" [nzValue]="4">
                </nz-option>
            </nz-select>
        </se>
        <se label="条形码">
            <input class="s-input" nz-input [(ngModel)]="barCode" name="barCode">
        </se>

        <se label="操作人">
            <input class="s-input" nz-input [(ngModel)]="createUserName" name="createUserName">
        </se>

        <se label="操作时间">
            <nz-range-picker [nzDisabledDate]="disabledDate" [(ngModel)]="date"></nz-range-picker>
        </se>
        <se label="存放仓库">
            <select-warehouse style="width: 120px;" [(ngModel)]="warehouseId" name="warehouseId"></select-warehouse>
        </se>
    </ng-container>
    <se>
        <a class="mx-sm" (click)="showMore=!showMore">
            <ng-container *ngIf="showMore;else templateName">
                &lt;&lt; 隐藏
            </ng-container>
            <ng-template #templateName>
                更多>>
            </ng-template>
        </a>
        <button nz-button nzType="primary">搜索</button>
    </se>
</form>

<st #st [data]="dataList" [scroll]="scroll" resizable="true" [ps]="pageSize" [columns]="columns" [total]="totalItems"
    [loading]="isTableLoading" (change)="change($event)">
    <ng-template st-row="reagentNo" let-item let-index="index">
        <span> <a (click)="show(item.reagentId)">{{item.reagentNo}}</a> </span>
    </ng-template>
</st>