<page-header [title]="l('Users')" [action]="extraTpl">
    <ng-template #extraTpl>

        <button nz-button (click)="create()" nzType="primary">
            <i nz-icon nzType="plus" class=""></i> 新增
        </button>
    </ng-template>
</page-header>

<form nz-form nzLayout="inline" (ngSubmit)="refresh()" se-container>

    <se label="用户">
        <input nz-input style="width: 120px;" [(ngModel)]="filter" name="filter">
    </se>
    <se label="状态">
        <nz-select style="width: 130px;" [(ngModel)]="isActive" name="isActive" nzPlaceHolder="选择用户状态过滤">
            <nz-option nzLabel="全部" [nzValue]="undefined">
            </nz-option>
            <nz-option nzLabel="在职" [nzValue]="true">
            </nz-option>
            <nz-option nzLabel="离职" [nzValue]="false">
            </nz-option>
        </nz-select>
    </se>
    <se label="专管">
        <nz-select style="width: 130px;" [(ngModel)]="isMaster" name="isMaster" nzPlaceHolder="选择是否专管过滤">
            <nz-option nzLabel="全部" [nzValue]="undefined">
            </nz-option>
            <nz-option nzLabel="专管" [nzValue]="true">
            </nz-option>
            <nz-option nzLabel="普通用户" [nzValue]="false">
            </nz-option>
        </nz-select>
    </se>
    <!-- <se label="所属仓库">
        <nz-select style="width: 150px;" [(ngModel)]="warehouseId" name="warehouseId" nzPlaceHolder="选择仓库">
            <nz-option *ngFor="let item of wareHouses" [nzLabel]="item.name" [nzValue]="item.id">
            </nz-option>
        </nz-select>

    </se> -->
    <se label="角色">
        <nz-select style="width: 150px;" [(ngModel)]="roleId" name="roleId" nzPlaceHolder="选择角色">
            <nz-option [nzLabel]="'全部'" [nzValue]="undefined">
            </nz-option>
            <nz-option *ngFor="let item of roles" [nzLabel]="item.displayName" [nzValue]="item.id">
            </nz-option>
        </nz-select>
    </se>
    <se>
        <button nz-button nzType="primary">搜索</button>
    </se>
</form>

<st [data]="dataList" resizable="true" [scroll]="scroll" [ps]="pageSize" [columns]="columns" [total]="totalItems"
    [loading]="isTableLoading" (change)="change($event)"></st>